<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mukul</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        Welcome to our world
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </nav>

    <section class="hero">
        <h1>Welcome to Our Website</h1>
        <p>Learn new Technology with advance Angular world.</p>
    </section>

    <section class="about">
        <h2>About Us</h2>
        <p>We create beautiful and responsive web designs.</p>
    </section>
    <div class="button">
        <a href="https://angular.dev" target="_blank">
            <button>Angular</button>
        </a>
    </div>

    <footer>
        © 2025 Mukul Anand . All Rights Reserved.
    </footer>

</body>
</html>
